<button *ngIf="flag" (click)="nav()">navigate me to loans component</button>
<input type="date"/>
<p>{{date | date}}</p>
<p>{{date | date:"MM/DD/YY"}}</p>
<p>{{date | date | uppercase}}</p>
<ul *ngFor="let contact of contacts">
  <li>{{contact.firstname}}</li>
  <li>{{contact.lastname}}</li>
  <li>{{contact.contactid}}</li>
</ul>
<div [ngClass]="isSpl ? '' : '' "></div>
<!-- <p *ngIf="courses.length > 0">
  course list
</p>
<p *ngIf="courses.length == 0">
  no courses yet
</p> -->
<div [hidden]="courses.length > 0"> hello</div>
<div [hidden]="courses.length == 0">bye</div>
<button (click)="addarray()">add array</button>
<div *ngFor="let co of course; index as i">
<p>{{i}} - {{co.name}}</p>
<span (click)="remove(co)">Remove array</span>
</div>
<img [src]="source">
<input type="text" [(ngModel)]="searchValue">
<span>{{searchValue}}</span>

<div>angular forms</div>
<form>
  <p>registration form for loan</p>
  <input type="text" name="First Name">
  <input type="text" name="Last Name">
  <input type="radio" name="Age">
  
</form>
<router-outlet></router-outlet>